{{- if .Values.ollama.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "openprodoc.fullname" . }}-ollama
  labels:
    {{- include "openprodoc.ollama.labels" . | nindent 4 }}
spec:
  type: {{ .Values.ollama.service.type }}
  ports:
  - port: {{ .Values.ollama.service.port }}
    targetPort: http
    protocol: TCP
    name: http
  selector:
    {{- include "openprodoc.ollama.selectorLabels" . | nindent 4 }}
{{- end }}
